extends layout 

block content
    h1 #{title}
    form(method="POST", action="/article/edit/"+article._id )
        #form-group
            label(for="title") Title:
            input.form-control(type="text", name="title", id="title", placeholder="Title", value=article.title)
        #form-group
            label(for="author") Author:
            input.form-control(type="text", name="author", id="author", placeholder="author", value=article.author)
        #form-group
            label(for="body") Body:
            textarea.form-control(type="text", name="body", id="body", placeholder="body")= article.body
        br
        input.btn.btn-primary.btn-sm(type="submit", value="Save")
        | 
        a.btn.btn-outline-danger.btn-sm(href='/') Cancel 
        |
        a.btn.btn-danger.btn-sm.delete-article(href='#', data-id=article._id) Delete