extends layout 

block content
    h1 #{title}
    ul.list-group
        each article, i in articles
            article
                //li a(href='/articles/#{article.id}') #{article.title}
                li.list-group-item
                    a(href=`/articles/${article._id}`)= article.title
                    |
                    span By : #{article.author}
                    | 
                    //- span.badge.badge-primary.float-right= article.author
                    //- span.badge.badge-success= article.author 
                    //- article.author rendered in browser as invisible <span class="badge badge-success">article.author</span>
                    //- p #{article.body}
                    a.btn.btn-outline-primary.btn-sm(href='/articles/edit/'+article._id) Edit 
                    | 
                    //- a.btn.btn-outline-danger.btn-sm(href='/articles/delete/'+article._id)  Delete
                    //- a.btn.btn-outline-danger.btn-sm.delete-article(href='#'+article._id)  Delete
                    //- Put this button on edit form: a.btn.btn-outline-danger.btn-sm.delete-article(href='#', data-id=article._id)  Delete
